body{
    font-family: Arial;
    background-color: rgb(38, 31, 95);
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.Logo{
    font-size: 45px;
    font-family: Arial;
    color: wheat;
    padding-left: 15px;
    cursor: pointer;
    margin: 0px;
    height: 40px;
}

.Menu ul li a{
    text-decoration: none;
    color: wheat;
    text-transform: uppercase;
    padding-left: 50px;
    margin: 0px;
}

.Menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.Menu{
    padding: 0px;
    margin: 0px;
}

*{
    padding-top: 15px;
}
